




#wrapper{
    width: 1012px;
    margin: 0 auto;
    padding-right: 205px;
    position: relative;
    top: 52px;
}

#wrapper .inner{
    width: 100%;
    position: relative;
}

#wrapper .inner .left_box{
    width: 180px;
    height: 500px;
    background: tomato;
    position: fixed;
    top: 52px;
    left: 300px;
    font-size: 13px;
}

.left_box .icon--more{
    margin-left: auto;
    display: none;
}


.left_box .my_name{
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.left_box .my_name > a{
    display: flex;
    align-items: center;
}

.left_box .list > li{
    padding: 5px 10px;
    margin-bottom: 2px;
    border: 1px solid transparent;
}

.left_box .list >li >a{
    display: flex;
    align-items: center;
}

.left_box .list > li.active{
    background: var(--fds-gray-00);
    border: 1px solid #dddfe2;
}

.left_box .list > li.active .icon--more{
    display: block;
}

.left_box .list > li:hover{
    background: var(--fds-gray-00);
    border: 1px solid #dddfe2;
}

.left_box .list > li:hover .icon--more{
    display: block;
}


#contents_container{
    max-width: 500px;
    position: relative;
    left: 190px;
}

#wrapper .create_box{
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.create_box .title{
    color: #4b4f56;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 8px 5px;
    background-color: #F5F6F7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
}


.create_box .text_field .top{
    display: flex;
    align-items: center;
    color: #90949c;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddfe2;
}

.create_box .text_field .top .profile_img {
    margin-right: 20px;
}

.create_box .top > p {
    width: 100%;
}

.create_box #text_field{
    border: none;
    height: 24px;
    width: 90%;
    resize: none;
    font-size: 15px;
}